<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Abyssinica SIL' rel='stylesheet'>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>{{ title }}</title>
</head>
<body class="w3-container">
    <!-- Navigation Bar -->
    <header>
        <nav class="w3-bar w3-light-grey">
            <a href="{{ url_for('index') }}" class="w3-bar-item w3-button">Home</a>
            <a href="{{ url_for('search') }}" class="w3-bar-item w3-button">Bike Search</a>
        </nav>
    </header>

    <h1>{{ title }}</h1>

    <!-- Content Block -->
    {% block body %}{% endblock %}
</body>
</html>